<!-- scan 为 true 时 -->
<!-- scanPeriod 表示每 60 秒钟扫描一次配置，检测是否有变化，有变化就重新加载 -->
<configuration scan="true" scanPeriod="60 seconds">

    <!-- 定义参数常量（全局变量） -->
    <!-- logback 日志级别:TRACE<DEBUG<INFO<WARN<ERROR -->
    <!--<porperty name="log.level" value="debug" />  &lt;!&ndash; 日志级别 &ndash;&gt;-->
    <!--<porperty name="log.maxHistory" value="30" /> &lt;!&ndash; 文件保留多长的时间（保存30天） &ndash;&gt;-->
    <!--&lt;!&ndash; ${catalina.base}: tomcat 实例的根目录,可以自己修改为其他路径 &ndash;&gt;-->
    <!--&lt;!&ndash;<porperty name="log.filePath" value="${catalina.base}/logs/webapps" /> &lt;!&ndash; 日志存储的根路径 &ndash;&gt;&ndash;&gt;-->

    <!--0. 日志格式和颜色渲染 -->
    <!-- 彩色日志依赖的渲染类 -->
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
    <conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter" />
    <conversionRule conversionWord="wEx" converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter" />
    <!-- 彩色日志格式 -->
    <property name="CONSOLE_LOG_PATTERN" value="${CONSOLE_LOG_PATTERN:-%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>

    <!-- CONSOLE 输出日志到控制台 -->
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator>
                <expression>return message.contains("processSync")
                    || message.contains("processGroupSync")
                    || message.contains("groupScheduleSync");</expression>
            </evaluator>
            <onMatch>DENY</onMatch>
        </filter>
        <encoder>
            <!-- ${log.pattern}:表示调用上面 name 为 log.pattern 的 porperty -->
            <!-- 也就是引入上面 porperty 定义好的日志输出格式 -->
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- 表示 info 级别以上的日志信息输出到控制台 -->
    <root level="info">
        <appender-ref ref="consoleAppender" />
    </root>

</configuration>
